@use "colors";

body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  margin-top: 3rem;
}

button {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  color: colors.$White;
  border-radius: 1.81rem;
  border: none;
}
.container {
  .hero-section {
    margin-top: 4rem;
    display: grid;
    place-items: center;

    .hero-content {
      margin-top: 3rem;
      padding: 0 2rem;

      h1 {
        font-size: clamp(2.5rem, 2rem + 2vw, 4rem);
        margin-bottom: 1.5rem;
        line-height: 1;
        font-weight: 900;
        color: colors.$Slate-900;
        text-align: center;
      }

      p {
        font-size: clamp(1rem, 0.75rem + 1vw, 1.13rem);
        margin-bottom: 1.5rem;
        font-weight: 500;
        color: colors.$Slate-600;
        text-align: center;
      }

      .btn-components {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .blue-btn {
          width: 12.06rem;
          height: 3.5rem;
          background: colors.$cyan-600;
          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
          span {
            color: colors.$Slate-300;
          }
        }

        .purple-btn {
          width: 10rem;
          height: 3.5rem;
          background: colors.$purple-600;
          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }

  .divider {
    color: colors.$Slate-600;
    font-size: 1rem;
    margin-top: 4rem;

    .number-line {
      width: 0.06rem;
      height: 5rem;
      margin: 0 auto;
      background: colors.$Slate-600;
    }

    .number {
      width: 3.5rem;
      height: 3.5rem;
      border: 2px solid colors.$Slate-600;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      font-weight: 900;
    }
  }

  .main-content {
    margin-top: 4rem;
    padding: 0 2rem;

    img {
      border-radius: 0.6rem;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-bottom: 55px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div,
      h2,
      p {
        text-align: center;
      }

      div {
        color: colors.$cyan-600;
        letter-spacing: 0.25rem;
        line-height: 1.2;
        font-size: 0.75rem;
        font-weight: 900;
        margin-bottom: 1rem;
      }
      h2 {
        color: colors.$Slate-900;
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p {
        color: colors.$Slate-600;
        line-height: 1.4;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  footer {
    background-image: linear-gradient(
        hsl(195, 37%, 48%, 0.8),
        hsl(195, 37%, 48%, 0.8)
      ),
      url(../starter-code/assets/desktop/image-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 11rem;
    padding-top: 5.75rem;

    .divider-two {
      color: colors.$Slate-600;
      font-size: 1rem;
      position: absolute;
      z-index: 2;
      bottom: 80%;
      left: 46%;

      .number-line {
        width: 0.06rem;
        height: 80px;
        margin: 0 auto;
        background: colors.$Slate-600;
      }

      .number {
        width: 3.5rem;
        height: 3.5rem;
        border: 2px solid colors.$Slate-600;
        background-color: colors.$White;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 900;
      }
    }

    button {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
      font-weight: 900;
      color: colors.$White;
      border-radius: 1.81rem;
      border: none;
    }

    .blue-btn {
      width: 12.06rem;
      height: 3.5rem;
      margin-top: 1.5rem;
      background: colors.$purple-600;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      span {
        color: colors.$Slate-300;
      }
    }

    h1 {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 900;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1.5rem;
    }
  }

  .footer-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    color: colors.$White;
  }
}

@media screen and (max-width: 800px) {
  .img-hero-left,
  .img-hero-right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container footer .divider-two {
    position: absolute;
    bottom: 89%;
  }

  .container footer .footer-content {
    max-inline-size: 504px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container .main-content .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .container .hero-section .hero-content .btn-components {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
  }
}

@media screen and (min-width: 801px) {
  .img-hero-left,
  .img-hero-right {
    display: block;
  }
  .img-hero-tab-mob {
    display: none;
  }

  .hero-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .container {
    .main-content {
      margin-top: 4rem;
    }
  }
  .hero-content {
    p {
      width: 500px;
    }
  }

  .content {
    width: 600px;
    margin: 0 auto;
    h2 {
      width: 500px;
    }
  }

  .container .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.7rem;
  }

  .container footer .divider-two {
    position: absolute;
    bottom: 88%;
    left: 46%;
  }
}
