$cyan-600: rgb(77, 150, 169);
$cyan-600-transparent-background: rgb(77, 150, 169, 0.5);
$cyan-300: rgb(143, 227, 249);
$cyan-300-hover: rgb(143, 227, 249, 0.9);
$purple-600: rgb(133, 95, 177);
$cyan-300: rgb(217, 184, 255);
$Slate-900: rgb(40, 40, 61);
$Slate-600: rgb(135, 135, 157);
$Slate-300: rgb(209, 209, 223);
$White: rgb(250, 250, 250);
