body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  margin-top: 3rem;
}

.container {
  /* max-width: 75rem;*/
}
.container .hero-section {
  margin-top: 4rem;
  display: grid;
  place-items: center;
}
.container .hero-section button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  color: rgb(250, 250, 250);
  border-radius: 1.81rem;
  border: none;
}
.container .hero-section .hero-content {
  margin-top: 3rem;
  padding: 0 2rem;
}
.container .hero-section .hero-content h1 {
  font-size: clamp(2.5rem, 2rem + 2vw, 4rem);
  margin-bottom: 1.5rem;
  line-height: 1;
  font-weight: 900;
  color: rgb(40, 40, 61);
  text-align: center;
}
.container .hero-section .hero-content p {
  font-size: clamp(1rem, 0.75rem + 1vw, 1.13rem);
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: rgb(135, 135, 157);
  text-align: center;
  /*width: 500px;*/
}
.container .hero-section .hero-content .btn-components {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .hero-section .hero-content .btn-components .blue-btn {
  width: 12.06rem;
  height: 3.5rem;
  background: rgb(77, 150, 169);
}
.container .hero-section .hero-content .btn-components .blue-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.container .hero-section .hero-content .btn-components .blue-btn span {
  color: rgb(209, 209, 223);
}
.container .hero-section .hero-content .btn-components .purple-btn {
  width: 10rem;
  height: 3.5rem;
  background: rgb(133, 95, 177);
}
.container .hero-section .hero-content .btn-components .purple-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.container .divider {
  color: rgb(135, 135, 157);
  font-size: 1rem;
  margin-top: 4rem;
}
.container .divider .number-line {
  width: 0.06rem;
  height: 5rem;
  margin: 0 auto;
  background: rgb(135, 135, 157);
}
.container .divider .number {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid rgb(135, 135, 157);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
}
.container .main-content {
  margin-top: 4rem;
  padding: 0 2rem;
  min-height: 100vh;
}
.container .main-content img {
  border-radius: 0.6rem;
}
.container .main-content .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
.container .main-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .main-content .content div,
.container .main-content .content h2,
.container .main-content .content p {
  text-align: center;
}
.container .main-content .content div {
  color: rgb(77, 150, 169);
  letter-spacing: 0.25rem;
  line-height: 1.2;
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.container .main-content .content h2 {
  color: rgb(40, 40, 61);
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
  /*width: 500px;*/
}
.container .main-content .content p {
  color: rgb(135, 135, 157);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 500;
  /*   max-width: 600px;*/
}
.container footer picture {
  position: relative;
}
.container footer picture ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 150, 169, 0.5);
  pointer-events: none;
}
.container footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 10rem;
}
.container footer .divider-two {
  color: rgb(135, 135, 157);
  font-size: 1rem;
  position: absolute;
  bottom: 85%;
  z-index: 2;
}
.container footer .divider-two .number-line {
  width: 0.06rem;
  height: 5rem;
  margin: 0 auto;
  background: rgb(135, 135, 157);
}
.container footer .divider-two .number {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid rgb(135, 135, 157);
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
}
.container footer button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  color: rgb(250, 250, 250);
  border-radius: 1.81rem;
  border: none;
}
.container footer .blue-btn {
  width: 12.06rem;
  height: 3.5rem;
  margin-top: 1.5rem;
  background: rgb(133, 95, 177);
}
.container footer .blue-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.container footer .blue-btn span {
  color: rgb(209, 209, 223);
}
.container footer h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 900;
}
.container footer p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.container .footer-content {
  text-align: center;
  z-index: 1;
  color: white;
  padding: 2rem;
}
.container footer picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.container footer picture img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .img-hero-left,
  .img-hero-right {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container .main-content .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 769px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .img-hero-left,
  .img-hero-right {
    display: block;
  }
  .img-hero-tab-mob {
    display: none;
  }
  .hero-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .container .main-content {
    margin-top: 4rem;
    padding: 0 6rem;
  }
  .hero-content p {
    width: 500px;
  }
  .content {
    width: 600px;
    margin: 0 auto;
  }
  .content h2 {
    width: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
